body{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    } 
#fondo{
    background-color: #201f1e;
}
.form-input img {
    width:100%;
    display:none;
    margin-bottom:30px;
}
.form-group button {
    background-color: #e5c850;
}
.form-group button:hover {
    background-color: #d5c429;
}


.border-grey{
    box-shadow: 3px 3px 3px 3px rgba(18, 18, 18, 0.434);
}
    .menu-item {
      margin-right: 10px;
    }

    .active {
      /* background-color: #fbb82d !important; */
      background-color: #d5c429 !important;
      color: #090909 !important;
    }

    .logout-link {
      margin-left: 10px;
    }

    .logo {
      height: 50px;
      margin-bottom: 10px;
    }
    /* Estilos para el contenedor del logo */
    .logo-container {
      display: flex; /* Permite alinear los elementos horizontalmente y verticalmente */
      justify-content: center; /* Alinea los elementos horizontalmente al centro */
      align-items: center; /* Alinea los elementos verticalmente al centro */
      margin-bottom: -20px; /*Margen inferior para crear espacio entre el logo y el menú */
      background-color: #090909;
      padding: 10px; /* Espacio interno para el logo */
    }

    /* Estilos para el logo */
    .logo {
      height: 120; /* Tamaño del logo*/
    }
    
    /* Estilos para el menú */
    .colornavbar {
      background-color: #e5c850; 
    }
    /* Estilos para el contenedor del usuario */
    .user-container {
      display: flex;
      align-items: center;
    }

    /* Estilos para el nombre de usuario */
    .username {
      margin-right: 10px;
      color: #fff;
      font-weight: bold;
    }

    /* Estilos para la foto de usuario */
    .user-photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 7cebe256f8c02812d7d269a55826bf94141c4d52


    .icolor i{
    color: aqua;
    }


    .table {
      text-align: center;
      width: 62% ;
      height: 90% ;
      
    }

    .btn-warning{
      background-color: #e5c850;
      margin-right: 10px;
    }

    .bott{
      display: flex;
      justify-content: center ;
    }
    
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> a99d173a1a8c0d6fe97a928bff100dfdc110801c
=======

>>>>>>> 7cebe256f8c02812d7d269a55826bf94141c4d52
.AsignarPermisos {
  
  font-weight: bold;
  color: #fff;
}
.subtitulo {
  color: #fff;
}
.Titulo {
  color: #fff;
  text-align: center;

}
.subtitulo{
  color: #fff;
  text-align: left;
}
#searchInput {
  width: 200px;
  padding: 8px;
  font-size: 14px;
}

#results {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

#results li {
  padding: 5px;
}
#content {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}
.btn-primary{
  background-color: #e5c850 !important;
  color: #090909;
  border: 0;
}
.card{
  background-color: #090909 !important;
  color: #fff;
}
<<<<<<< HEAD
<<<<<<< HEAD


=======
=======
=======
.btn-secondary{
  background-color: #e5c850;
  color: #090909;
}
.swal2-modal {
  background-color: #1c1c1c;
   
}
.swal2-title {
  color: white !important;
}
.swal2-label {
  color: white !important;
}
.swal2-popup .swal2-actions .swal2-confirm {
  background-color: #e5c850;
  font-weight: bold;
  color: black;
>>>>>>> 7cebe256f8c02812d7d269a55826bf94141c4d52

}

<<<<<<< HEAD

    .table {
      text-align: center;
      width: 62% ;
      height: 90% ;
      
    }

    .btn-warning{
      background-color: #e5c850;
      margin-right: 10px;
    }

    .bott{
      display: flex;
      justify-content: center ;
    }
>>>>>>> origin/Yeimar

>>>>>>> a99d173a1a8c0d6fe97a928bff100dfdc110801c
=======
.swal2-popup .swal2-actions .swal2-cancel {
  background-color: #e5c850;
  font-weight: bold;
  color: black;
 
}
>>>>>>> 7cebe256f8c02812d7d269a55826bf94141c4d52
