body{
  background-image: linear-gradient(to top, #051937, #2a1429, #30171b, #2b1e16, #25231c);
  font-family:"Baskerville", serif;
} 

.login{
  background-image: url("../img/login/f3.jpg");
}   
#fondo{
    background-color: #1e2020;
}
.form-input img {
    width:100%;
    display:none;
    margin-bottom:30px;
}
/* Estilo para el botón de confirmar (Eliminar) */
.swal2-confirm {
  background-color: black !important;
  color: white !important;
}

/* Estilo para el botón de cancelar (Cancelar) */
.swal2-cancel {
  background-color: transparent !important;
  color: yellow !important;
  border: 1px solid yellow !important;
}

/* Estilo para la flecha arriba del botón */


.form-group button {
  background-color: #000000;
  color: #ffffff; /* Letra blanca */
  border: 1px solid #ae9243; /* Borde amarillo */
  transition: background-color 0.3s, color 0.3s, border 0.3s; /* Transición suave */
}

.form-group button:hover {
  background-color: #ae9243;
  color: #090909; /* Letra al pasar el mouse */
  border: 1px solid #ae9243; /* Borde amarillo */
}

.form-group button:active {
  box-shadow: 0 0 10px rgba(255, 193, 7, 0.5); /* Efecto de sombra al hacer clic */
}


.border-grey{
    box-shadow: 3px 3px 3px 3px rgba(5, 5, 5, 0.434);
}
    .menu-item {
      margin-right: 10px;
    }

    .active {
      background-color: rgba(174, 146, 67, 0.5) !important;
      color: #090909 !important;
    }

    /* Estilos para el logo */
    .logo {
      height: 120; /* Tamaño del logo*/
    }
    
    /* Estilos para el menú */
    .colornavbar {
      background-color: #090909;
    }
    .logout-link {
      margin-left: auto; /* Mover el enlace de cierre de sesión a la derecha */
      padding: 5px;
      border-radius: 10px;
    }
    .nav-link i {
      margin-right: 7px; /* Espaciado entre el ícono y el texto del enlace */

    }

    .nav-item {
      margin-right: 20px; /* Espaciado entre elementos del menú */

    }
    .nav-item.menu-item .nav-link {
      font-size: 16px;
      color: #959292; /* Un tono de gris oscuro */
      text-decoration: none;
      padding: 5px;
      border-radius: 10px;
      transition: background-color 0.3s ease;
      font-family: "Baskerville", serif;
  }
  
  /* Estilo para el estado activo del enlace */
  .navbar-nav .nav-item.menu-item .nav-link.active {
    background-color: #090909; /* Color de fondo para el estado activo */
    color: #fff; /* Color del texto en estado activo */
  }

.nav-link:hover {
  color: #e2c651 !important;

}
    /* Estilos para el contenedor del usuario */
    .user-container {
      display: flex;
      align-items: center;
    }

    /* Estilos para el nombre de usuario */
    .username {
      margin-right: 10px;
      color: #fff;
      font-weight: bold;
    }

    /* Estilos para la foto de usuario */
    .user-photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .icolor i{
    color: aqua;
    }


    .table {
      text-align: center;
      width: 62% ;
      height: 90% ;

    }

    .btn-warning{
      background-color: #ae9243;
      margin-right: 10px;
    }

    .bott{
      display: flex;
      justify-content: center ;
    }
    
.AsignarPermisos {
  
  font-weight: bold;
  color: #fff;
}
.subtitulo {
  color: #fff;
}
.Titulo {
  color: #fff;
  text-align: center;

}
.subtitulo{
  color: #fff;
  text-align: left;
}
#searchInput {
  width: 200px;
  padding: 8px;
  font-size: 14px;
}

#results {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

#results li {
  padding: 5px;
}
#content {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}
.btn-primary{
  background-color: #ae9243 !important;
  color: #090909;
  border: 0;
}
.card{
  background-color: #09090995 !important;
  color: #fff;
}


.card-header{
  background-color: #262525 !important;
  color: #fff;
}
.card-body{
  background-color: #3a3a3a !important;
  color: #fff;
}


.btn-secondary{
  background-color: #ae9243;
  color: #090909;
}
.swal2-modal {
  background-color: #1c1c1c;

}
.swal2-title {
  color: white !important;
}
.swal2-label {
  color: white !important;
}
.swal2-popup .swal2-actions .swal2-confirm {
  background-color: #ae9243;
  font-weight: bold;
  color: black;

}

.btn-warning{
  background-color: #ae9243;
  margin-right: 10px;
}

.bott{
  display: flex;
  justify-content: center ;
}

.swal2-popup .swal2-actions .swal2-cancel {
  background-color: #ae9243;
  font-weight: bold;
  color: black;
}


.qty .count {
color: #000;
display: inline-block;
vertical-align: top;
font-size: 25px;
font-weight: 700;
line-height: 30px;
padding: 0 2px
;min-width: 35px;
text-align: center;
}
.qty .plus {
cursor: pointer;
display: inline-block;
vertical-align: top;
color: white;
width: 30px;
height: 30px;
font: 30px/1 Baskerville, serif;
text-align: center;
border-radius: 50%;
}
.qty .minus {
cursor: pointer;
display: inline-block;
vertical-align: top;
color: white;
width: 30px;
height: 30px;
font: 30px/1 Baskerville, serif;
text-align: center;
border-radius: 50%;
background-clip: padding-box;
}

.minus:hover{
background-color: #717fe0 !important;
}
.plus:hover{
background-color: #717fe0 !important;
}
/*Prevent text selection*/
span{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input{  
border: 0;
width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input:disabled{
background-color:white;
}

/**Cargando**/
#contenedorCargando {
  position: relative;
}

.blur-background {
  background-color: rgba(214, 214, 214, 0.269);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); /* Ajusta el valor de blur según sea necesario */
  -webkit-backdrop-filter: blur(8px); /* Soporte para navegadores WebKit */
  z-index: -1;
}

#cargando.show {
  backdrop-filter: blur(8px); /* Ajusta el valor de blur según sea necesario */
  -webkit-backdrop-filter: blur(8px); /* Soporte para navegadores WebKit */
}
    /* Estilos generales para el modal */
    .modal-content {
      background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de transparencia */
      border-radius: 15px;
      border: 2px solid #ae9243;
      box-shadow: 0px 0px 10px 0px #ae9243;
  }

    .modal-header {
        background-color: #ae9243;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    /* Estilos para el formulario dentro del modal */
    #formUsuarioCredito {
        padding: 20px;
    }

    label {
        font-weight: bold;
    }

    /* Estilos para los botones del formulario */
    #btn-form {
        margin-right: 10px;
    }

    .form-control {
        border-radius: 0.75rem; /* Bordes redondeados para los campos de formulario */
    }

    .input-group-text {
        border-radius: 0.75rem 0 0 0.75rem; /* Bordes redondeados para el área de texto de entrada en el grupo de entrada */
    }

    .btn {
        border-radius: 0.75rem; /* Bordes redondeados para los botones */
        transition: background-color 0.3s; /* Transición suave del color de fondo al pasar el ratón */
    }

    .btn:hover {
        background-color: #e2c651; /* Cambiar color al pasar el ratón */
    }

    .input-group-prepend {
      width: 40px; /* Puedes ajustar el valor según sea necesario */
  }
  .btn-detalles {
    background-color: #e2c651; /* Cambia esto al color que desees */
    color: black; /* Cambia esto al color de texto que desees */
  }




  /*Estilos Modulos Ventas*/

  .detalle-venta-table {
    color: #ffffff; /* Color para el texto en la tabla */
  }

  #detallesModalBody p {
    color: #ffffff; /* Color solo para el texto "ID Venta" */
  }

  #detallesModal .modal-content {
    background-color: #000; /* Color para el fondo de la modal */
  }
  .fecha-label {
    color: #ffffff; /* Color para el texto de las fechas */
  }

  .pagina-actual {
    color: #ffffff; /* Cambia #ff0000 al color que desees */
  }






