  
#containerNotification {
  list-style-type: none;
  position: relative; /* Añadido para posicionar el contenido relativo a este elemento */
  padding: 0.625rem 0 0.5rem;
  z-index: 1000; /* Valor alto para que aparezca sobre otros elementos */
}

#containerNotification ul {
  flex-direction: column;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.869); /* Ajusta según tus preferencias */
  align-items: flex-start;
  transition: all 0.5s ease;
  width: 20rem;
  right: 0.5rem;
  top: 4.5rem;
  border-radius: 0.325rem;
  gap: 0;
  padding: 1rem 0rem;
  opacity: 0;
  box-shadow: 0px 0px 100px rgba(20, 18, 18, 0.25);
  display: none;
}


#containerNotification:hover > ul,
#containerNotification  ul:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
}


#containerNotificationContent {
  top: 100% !important; /* Coloca el contenido justo debajo del elemento padre */
  padding: 0 0 0 0;

}

.principal-element {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.725rem;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}

.principal-element p {
  font-size: 0.85rem;
  color: #888888;
  font-weight: 500;
  margin: 0.4rem 0;
  flex: 1;
}
  /* -----------------------------------------
     Dropdown
  ----------------------------------------- */

  p.dropdown-menu-header {
      font-weight: bold;
      margin-top: 10px;
      border-bottom: 1px solid #808081;
  }

  .dropdown-menu>li>p {
    display: block;
    padding: 3px 20px;
    padding-bottom: 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #000;
    white-space: nowrap;
}
  .dropdown-menu > li a {
      padding: 10px 20px;
     
  }
  .dropdown-menu ul {
  
   background: #333;
}
.dropdown-menu.show{
  background-color: #333;
}

  /* -----------------------------------------
     Badge
  ----------------------------------------- */
  
  .badge{
      padding: 3px 5px 2px;
      position: absolute;
      top: 3px;
      left: 10px;
      display: inline-block;
      min-width: 10px;
      font-size: 12px;
      font-weight: bold;
      color: #ffffff;
      line-height: 1;
      vertical-align: baseline;
      white-space: nowrap;
      text-align: center;
      border-radius: 10px;
  }
  .badge-danger {
      background-color: #db5565;
  }
  /* -----------------------------------------
     Content scrollable
  ----------------------------------------- */
  
  .top-text-block{
    text-decoration:none;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: inherit !important;
    border-bottom:1px solid #f4f4f4;
    position:relative;
    &:hover {
          &:before {
          content: '';
          width: 4px;
          background: #ae9243;
          left: 0;
          top: 0;
          bottom: 0;
          position: absolute;
      }
    }
    &.unread {
      background:#ffc;
 
    }
    
    .top-text-light {
      color: #999;
      font-size: 0.8em;
    }
  }   
  
  .top-head-dropdown {
    .scrollable-content {
     width: 350px;
      height:300px;
      overflow:auto;
    }
    
    li:last-child{
      .top-text-block {
        border-bottom:0;
        text-decoration:none;
      }
    }
  }
  .topbar-align-center {
    text-align: center;
  }
  .loader-topbar {
    margin: 5px auto;
    border: 3px solid #ddd;
    border-radius: 50%;
    border-top: 3px solid #666;
    width: 22px;
    height: 22px;
    -webkit-animation: spin-topbar 1s linear infinite;
    animation: spin-topbar 1s linear infinite;
  }
  
  @-webkit-keyframes spin-topbar {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin-topbar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  a{text-decoration: none !important}

  /* -----------------------------------------
     Footer
  ----------------------------------------- */
  .menu-title {
    font-weight: bold;
    margin-top: 20px;
    color: #888888;;
}

.notification-footer {
    display: block;
    padding: 10px 20px;
    padding-bottom: 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    border-top: 1px solid #808081;
}

