body{
  /* background-image: linear-gradient(to top, #051937, #2a1429, #30171b, #2b1e16, #25231c); */
  /* background: rgb(174,146,67);
  background: radial-gradient(circle, rgba(174,146,67,1) 0%, rgba(9,9,9,1) 100%); */
  background-color: #1e1d1d;
  font-family:"Baskerville", serif;
} 

.login{
  background-image: url("../img/login/f3.jpg");
}   
#fondo{
    background-color: #1e2020;
}
.form-input img {
    width:100%;
    display:none;
    margin-bottom:30px;
}
/* Estilo para el botón de confirmar (Eliminar) */
.swal2-confirm {
  background-color: black !important;
  color: white !important;
}

/* Estilo para el botón de cancelar (Cancelar) */
.swal2-cancel {
  background-color: transparent !important;
  color: yellow !important;
  border: 1px solid yellow !important;
}

/* Estilo para la flecha arriba del botón */


.form-group button {
  background-color: #ae9243;
  color: #090909;
  border: 1px solid #ae9243; /* Borde amarillo */
  border-radius: 8px; /* Bordes más cuadrados */
  padding: 10px 15px; /* Ajustar el espaciado interno para un aspecto equilibrado */
  transition: background-color 0.3s, color 0.3s, border 0.3s; /* Transición suave */
}

.form-group button:hover {
  background-color: #090909;
  color: #ffffff; /* Letra al pasar el mouse */
}

.form-group button:active {
  box-shadow: 0 0 10px rgba(255, 193, 7, 0.5); /* Efecto de sombra al hacer clic */
}


.border-grey{
    box-shadow: 3px 3px 3px 3px rgba(5, 5, 5, 0.434);
}
    .menu-item {
      margin-right: 10px;
    }

    .active {
      background-color: rgba(174, 146, 67, 0.5) !important;
      color: #090909 !important;
    }

    /* Estilos para el logo */
    .logo {
      height: 120; /* Tamaño del logo*/
    }
    
    /* Estilos para el menú */
    .colornavbar {
      background-color: transparent;
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); /* Ajusta los valores según tus preferencias */

    }
    .logout-link {
      margin-left: auto; /* Mover el enlace de cierre de sesión a la derecha */
      padding: 5px;
      border-radius: 10px;
    }

    /* Estilos para el contenedor del usuario */
    .user-container {
      display: flex;
      align-items: center;
    }

    /* Estilos para el nombre de usuario */
    .username {
      margin-right: 10px;
      color: #fff;
      font-weight: bold;
    }

    /* Estilos para la foto de usuario */
    .user-photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .icolor i{
    color: aqua;
    }


    .table {
      text-align: center;
      width: 62% ;
      height: 90% ;

    }

    .btn-warning{
      background-color: #ae9243;
      margin-right: 10px;
    }

    .bott{
      display: flex;
      justify-content: center ;
    }
    
.AsignarPermisos {
  
  font-weight: bold;
  color: #fff;
}
.subtitulo {
  color: #fff;
}
.Titulo {
  color: #fff;
  text-align: center;

}
.subtitulo{
  color: #fff;
  text-align: left;
}
#searchInput {
  width: 200px;
  padding: 8px;
  font-size: 14px;
}

#results {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

#results li {
  padding: 5px;
}
#content {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}
.btn-primary{
  background-color: #ae9243 !important;
  color: #090909;
  border: 0;
}


.btn-secondary{
  background-color: #ae9243;
  color: #090909;
}

/* estilos para ventanas modales */
.swal2-modal {
  background-color: #090909;

}
.swal2-title {
  color: white !important;
}
.swal2-label {
  color: white !important;
}
.swal2-popup .swal2-actions .swal2-confirm {
  background-color: #000;
  border: 1px solid #ae9243;
  font-weight: bold;
  color: #fff;
}

.swal2-popup .swal2-actions .swal2-cancel {
  background-color: #000;
  border: 1px solid #ae9243;
  font-weight: bold;
  color: #fff;
}

.swal2-popup .swal2-styled:hover {
  background-color: #ae9243 !important;
  color: #000 !important;
}

.swal2-popup .swal2-styled:active {
  background-color: #ae9243 !important;
  color: #000 !important;
}
/*  */

.btn-warning{
  background-color: #ae9243;
  margin-right: 10px;
}

.bott{
  display: flex;
  justify-content: center ;
}

.qty .count {
color: #000;
display: inline-block;
vertical-align: top;
font-size: 25px;
font-weight: 700;
line-height: 30px;
padding: 0 2px
;min-width: 35px;
text-align: center;
}
.qty .plus {
cursor: pointer;
display: inline-block;
vertical-align: top;
color: white;
width: 30px;
height: 30px;
font: 30px/1 Baskerville, serif;
text-align: center;
border-radius: 50%;
}
.qty .minus {
cursor: pointer;
display: inline-block;
vertical-align: top;
color: white;
width: 30px;
height: 30px;
font: 30px/1 Baskerville, serif;
text-align: center;
border-radius: 50%;
background-clip: padding-box;
}

.minus:hover{
background-color: #717fe0 !important;
}
.plus:hover{
background-color: #717fe0 !important;
}
/*Prevent text selection*/
span{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input{  
border: 0;
width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input:disabled{
background-color:white;
}

/**Cargando**/
#contenedorCargando {
  position: relative;
}

.blur-background {
  background-color: rgba(214, 214, 214, 0.269);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); /* Ajusta el valor de blur según sea necesario */
  -webkit-backdrop-filter: blur(8px); /* Soporte para navegadores WebKit */
  z-index: -1;
}

#cargando.show {
  backdrop-filter: blur(8px); /* Ajusta el valor de blur según sea necesario */
  -webkit-backdrop-filter: blur(8px); /* Soporte para navegadores WebKit */
}
    /* Estilos generales para el modal */
    .modal-content {
      background-color: #090909;
      border-radius: 15px;
      border: 2px solid #ae9243;
      box-shadow: 0px 0px 10px 0px #ae9243;
  }

    .modal-header {
        background-color: #ae9243;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    label {
      color: #4f4f4b; /* Color de los labels */
      font-weight: bold;
    }

    .form-control:focus {
        border-color: #ae9243; /* Color del borde cuando el campo está enfocado */
        box-shadow: 0 0 10px rgba(174, 146, 67, 0.5); /* Sombra cuando el campo está enfocado */
    }
    /* Estilos para los íconos */
    .input-group-text {
        background-color: transparent; /* Fondo transparente del ícono */
        color: #6a7179; /* Color del ícono */
        border: transparent; /* Borde del ícono */
    }

    /* Posiciona el ícono dentro del campo */
    .input-group-prepend {
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
      width: 40px; /* Puedes ajustar el valor según sea necesario */
    }

    .form-control {
      border: 1px solid #ae9243; /* Borde del campo de entrada */
      background-color: transparent; /* Fondo transparente del campo */
      padding-left: 2.5rem; /* Ajusta el espacio para el ícono */
      height: 40px; /* Ajusta la altura del campo según sea necesario */
      width: 100%;
      color: #959292; /* Cambia al color de texto deseado */

    /* Estilo para el estado :focus */
      &:focus {
        background-color: transparent; /* Cambia al color deseado cuando el campo está enfocado */
      }
    }

    /* Estilos para el formulario dentro del modal */
    #formUsuarioCredito {
        padding: 10px;
    }

    /* Estilos para los botones del formulario */
    #btn-form {
        margin-right: 10px;
    }

    .btn {
        border-radius: 10px; /* Bordes redondeados para los botones */
        transition: background-color 0.3s; /* Transición suave del color de fondo al pasar el ratón */
    }



  /*Estilos Modulos Ventas*/

  .detalle-venta-table {
    color: #ffffff; /* Color para el texto en la tabla */
  }

  #detallesModalBody p {
    color: #ffffff; /* Color solo para el texto "ID Venta" */
  }

  #detallesModal .modal-content {
    background-color: #000; /* Color para el fondo de la modal */
  }
  .fecha-label {
    color: #ffffff; /* Color para el texto de las fechas */
  }

  .pagina-actual {
    color: #ffffff; /* Cambia #ff0000 al color que desees */
  }


/* dashboard */
.card {
  border: 1px solid #ae9243;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
}

.card-body {
  background-color: #090909;
}

.card1 {
  border: 1px solid #090909;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.846);;
  margin-bottom: 15px;
}
.card-body1 {
  padding: 15px;
  background-color: #ae9243;

}

.info-box {
  text-align: center;
}

.info-box i {
  font-size: 36px;
  margin-bottom: 10px;
  color: #090909;

}

.info-box h6 {
  /* color: #6c757d; */
  margin-bottom: 5px;
}

.info-box h3 {
  color: #090909;
  font-weight: bold; /* Agrega negrita al texto */
}
#myChartVentas,
#myChartCompras {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 100%; /* Ajusta la altura al 100% del contenedor */
    background-color: #090909; /* Color de fondo del gráfico */
    border-radius: 10px; /* Bordes redondeados */
}


/**
LETRA
**/
* {
  font-family: "Roboto", sans-serif;
}
* > a {
  font-family: "Roboto", sans-serif !important;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
