/* Estilo para el wrapper de DataTables */
.dataTables_wrapper  {
    background-color: #343a40da;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 10px rgba(174, 146, 67, 0.973); /* Borde con sombra en todos los lados */
}

/* Estilo para el texto en DataTables */
.table {
    color: #fff;
}

/* Estilo para las celdas de la tabla */
.table tbody td {
    color: #fff;
}

/* Estilo para las filas impares */
.table tbody tr:nth-child(odd) {
    background-color:#3e444a /* Color de fondo más claro */
}

/* Estilo para las filas pares */
.table tbody tr:nth-child(even) {
    background-color:#343a40; /* Color de fondo más oscuro */
}

/* Estilo para el input de búsqueda de DataTables */
.table_filter label {
    position: relative;
    display: flex;
    align-items: center;
}

.table_filter input {
    width: 200px; /* Ancho personalizado */
    padding: 5px 10px 5px 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde */
    background-color: #fff; /* Fondo blanco */
    margin-bottom: 10px; /* Espaciado inferior */
}

/* Estilo para los botones de DataTables */
.table tbody .btn-editar,
.table tbody .btn-eliminar {
    background-color: #090909; /* Color de fondo para los botones Editar y Eliminar */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 0.75rem; /* Bordes redondeados */
    cursor: pointer;
}
