/* Estilo para el wrapper de DataTables */
.dataTables_wrapper  {
    background-color: #090909;
    color: #090909;
    border-radius: 15px; /* Ajusta el valor según tus preferencias */
    overflow: hidden; /* Asegura que las esquinas redondeadas se muestren correctamente */
    padding: 15px; /* Ajusta el espacio interior según tus preferencias */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.973); /* Borde con sombra en todos los lados */
    position: relative;

}

/* Estilo para el texto en DataTables */
.table {
    border-radius: 10px;
    overflow: hidden;
}

.table thead th {
    background-color: #ae9243;
    border: 1px solid #ae9243;
    padding: 15px; /* Ajusta según tus preferencias */
    font-weight: bold;
    color: #090909;
}

.custom_btn{
    background-color: #090909;
}
/* Estilo para las celdas de la tabla */
.table tbody td {
    color: #959292;
    border: none;
    border-bottom: 2px solid #ae9243; /* Color de las líneas entre las celdas */
    font-size: 16px; /* Tamaño de letra en las celdas */
    cursor: pointer;
    text-align: center; /* Centra verticalmente el contenido */
}

/* Estilo para las filas impares */
.table tbody tr:nth-child(odd) {
    background-color:#090909;
}

/* Estilo para las filas pares 2d2d2d*/
.table tbody tr:nth-child(even) {
    background-color:#090909;
}

/* Agregar un sombreado sutil a las filas al pasar el mouse */
.table tbody tr:hover {
    background-color: #202020 ;
}

/* Estilo para los botones de DataTables */
.table tbody .btn-editar,
.table tbody .btn-eliminar {
    width: 30px; /* Establece un ancho fijo */
    height: 30px; /* Establece una altura fija */
    background-color: #959292; /* Color de fondo para los botones Editar y Eliminar */
    color: #090909; /* Color del texto */
    border-radius: 50%; /* Agrega bordes redondeados para formar un círculo */
    padding: 8px; /* Ajusta el relleno según sea necesario */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: flex;
}

/* Cambiar el color de fondo de los botones al pasar el mouse*/
.table tbody .btn-editar:hover,
.table tbody .btn-eliminar:hover {
    background-color: #ae9243;
}
/* Estilos para los botones en el pie de página de DataTables */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.25em 0.5em;  /* Reducir el tamaño del padding para hacer más pequeños los botones */
    margin: 0 2px;  /* Añadir un pequeño margen entre los botones */
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    border: 1px solid #ae9243;  /* Cambiar el color del borde a un tono más oscuro */
    border-radius: 4px;
    color: #ae9243;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #ae9243;
    color: #090909;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #ae9243;
    color: #090909;
}

/* Estilos para el botón de "Mostrar X registros" */
.dataTables_wrapper .dataTables_length select {
    border: 1px solid #ae9243;
    border-radius: 4px;
    padding: 0.25em 0.5em;
    height: 100%;
    background-color: #090909;
    color: #959292;
}
/* Cambiar el color del borde al pasar el mouse */
.dataTables_wrapper .dataTables_length select:hover {
    border-color: #e2c651;
}

/* Centra los botones en el pie de página */
.dataTables_wrapper .dataTables_paginate {
    text-align: center;
    margin-top: 0px;  /* Ajusta el margen superior para separar de la tabla */
}

/* Añade las flechas sin fondo */
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:before,
.dataTables_wrapper .dataTables_paginate .paginate_button.next:before {
    content: '\2039';  /* Unicode para el símbolo de flecha izquierda "<" */
    background-color: transparent;  /* Fondo transparente */
    border: none !important;  /* Sin borde */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next:before {
    content: '\203A';  /* Unicode para el símbolo de flecha derecha ">" */
    background-color: transparent;  /* Fondo transparente */
    border: none !important;  /* Sin borde */
}


/* Estilo para el input de búsqueda de DataTables */
.dataTables_filter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dataTables_filter input {
    width: 200px; /* Ancho personalizado */
    padding: 3px; /* Espaciado interno */
    border: 1px solid #ae9243;
    border-radius: 20px; /* Bordes redondeados */
    background-color: #090909;
    color: #959292; /* Color del texto en el input */
    margin-left: 10px; /* Margen a la izquierda */
    font-size: 14px; /* Tamaño de fuente */
    outline: none; /* Eliminar el contorno al hacer clic */
}

.dataTables_filter label::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f002';
    color: #ae9243;
    margin-right: 5px;
}

/* Cambiar el color del ícono de búsqueda al pasar el ratón */
.dataTables_filter label:hover::before {
    color: #e2c651; /* cuando se pasa el ratón */
}
.table td{
    padding: 0.25rem;
}